@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur271.cur), auto !important;
}

body{
    background-color: #FAE8EB;
    font-family: 'Raleway', sans-serif;
    color: #065143;
    overflow-x: hidden;
}

#indice{
    background-image: url("https://www.imagemhost.com.br/images/2023/03/20/bg-gatinho.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: right;
}

#titulo--indice{
    text-align: center;
    color: #E71D36;
    font-family: 'Poppins',sans-serif;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
}

#indice > ol{
    margin-top: 7vh;
    margin-left: 10%;
}

#indice{
    position: absolute;
    top: 10vh;
    right:20vw;
    width: 40%;
}

a{
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;
}

#hr--indice{
    border: 1.5px solid #E71D36;
    margin-top: 11vh;
}

#titulo{
    text-align: center;
    color: #E71D36;
    font-family: 'Poppins',sans-serif;
    padding: 2vh;
    margin-right: -20%;
    margin-top: 30%;
}

#hr--aside{
    border: 1.5px solid #F4D35E;
    width: 100%;
    margin: 0.5vh;
}

.barraLateral--aside{
    background-color: #2E294E;
    position: fixed;
    left: 0px;
    top:0px;
    max-width: 20%;
}

.aside--movel{
    display: none;
}

span{
    padding: 2.4vh;
    font-weight: 700;
    text-align: center;
}

.englobaElementos--aside{
    color: #EEE5E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 3vh;
}

.minhaFoto--aside{
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    border-radius: 500px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-bottom: 0.5vh;
}

.icon--aside{
    width: 30px;
    filter: invert(100%);
}

#hard-skills--aside > li{
    font-size: 0.9rem;
}

.titulo--projetos{
    color: #DB3069;
    font-family: 'Raleway', sans-serif;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #28AFB0;
    font-family: 'Raleway', sans-serif;
}

hr{
    border:1px solid #F28F3B;
    margin: 5vh;
}

.center{
    margin: auto;
    width: 50%;
}

/*
    SCROLLBAR STYLE
*/

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F28F3B; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #DB3069; 
  }

  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    float: right;
    padding: 3vh;
  }

  #wrap{
    margin: auto;
    width: 70%;
  }

  .imagem--projetos{
    position: sticky;
    max-height: 30vh;
    overflow: hidden;
  }

  .imagem--projetos:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .link:hover{
    color: #439eac;
  }

@media screen and (max-width: 480px){
    body{
        font-size: small;
    }
    .barraLateral--aside{
        display: none;
    }
    #indice{
        margin: auto;
        width: 60%;
        background-position: 90px;
        background-position-y: 150px;
    }
    #hr--indice{
        margin-top: 100px;
    }
    #titulo{
        position: absolute;
        top:35%;
    }
    #resumo, #academico, #curiosidade, #experiencia, .wrap{
        position: absolute;
        top: 60%;
        left: 10%;
        width: 80vw;
        margin-bottom: 3vw;
    }
    .card{
       margin-top: 150%;
       margin-bottom: -150%;
       display: flex;
       flex-direction: column;
       float: none;
       width: 100%;
    }
}